.aimms-widget[data-widget\.uri="Reset"] .ui-button{
background-color: #CF000F; 
}

.aimms-widget[data-widget\.uri="Reset"] .ui-button:hover{
background-color: #ff0000;
}

.aimms-widget[data-widget\.uri="Export To Excel"] .ui-button{
background-color: #009B00; 
}

.aimms-widget[data-widget\.uri="Export To Excel"] .ui-button:hover{
background-color: #4cb94c;
}

/* Button Optimize NDC location */

 @keyframes example {
  0%   {background-color:#D4AF37;}
  15%  {background-color:#d8b74b;}
  25%  {background-color:#dcbf5e;}
  37%  {background-color:#e0c773;}
  50%  {background-color:#e5cf87;}
  63%  {background-color:#e0c773;}
  75%  {background-color:#dcbf5e;}
  87%  {background-color:#d8b74b;}
  100% {background-color:#D4AF37;}
}

.aimms-widget[data-widget\.uri="NDCOptimize"] .ui-button {
	
	background-color: #D4AF37; /* Gold man */
	
}

.aimms-widget[data-widget\.uri="NDCOptimize"] .ui-button:hover {
	
	animation-name: example;
	animation-duration: 2s;
    animation-iteration-count: infinite;
}

/**
 * The "shine" element
 */
.aimms-widget[data-widget\.uri="NDCOptimize"] .ui-button:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;	
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.aimms-widget[data-widget\.uri="NDCOptimize"] .ui-button:hover:after {
  opacity: 1;
  top: -100%;
  left: 0%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.aimms-widget[data-widget\.uri="NDCOptimize"] .ui-button:active:after {
  opacity: 0;
}
