.tag-table .cell.annotation-NDC {
	
	background: #009B00;
    color: white;	
}	
	
.tag-table .cell.annotation-Factory {
	
	background: #dd4c57;
    color: white;	
}	

.tag-table .cell.annotation-RDC.annotation-S_LocationType {
	
	background: #004BFF;
    color: white;	
}	