header .page-section-wrap .layout-align-space-between-center{
    background: url(images/logo2.png) no-repeat left;
    padding-left: 200px;
    height: 40px;
    padding-top: 8px;
    background-size: contain;
}

header .title {
	display: none;
	
}

header .menu {
	
	left:100px
}