/* Color nodes*/
.annotation-RDC {
	
	fill: #004BFF
}

.annotation-Factory {
	
	fill: #CF000F
}

.annotation-NDC {
	
	fill: #009B00;
	
}

/* Making Nodes bigger */

circle {
    
    r:5;
}

/* Coloring Arcs */
.tag-mapv2 polyline[title*=P_SecondaryFlow]{
	stroke-opacity: 0.8;
	stroke : grey;
}

.tag-mapv2 polyline[title*=P_PrimaryFlow]{
	stroke-opacity: 0.9;
	stroke-width: 3;
	stroke : green;
}
