.annotation-hm1 {
	
	background: #cf000f
}
.annotation-hm2 {
	
	background: #d31926
}
.annotation-hm3 {
	
	background: #d8323e
}
.annotation-hm4 {
	
	background: #dd4c57
}
.annotation-hm5 {
	
	background: #e2666f
}
.annotation-hm6 {
	
	background: #e77f87
}
.annotation-hm7 {
	
	background: #eb999f
}
.annotation-hm8 {
	
	background: #f0b2b7
}
.annotation-hm9 {
	
	background: #f5cccf
}
.annotation-hm10 {
	
	background: #fae5e7
}